/* SETTINGS */
@font-face {
  font-family: Gotham-Light;
  src: url(fonts/gothamhft-light-webfont.ttf), url(fonts/gothamhft-light-webfont.woff); }
@font-face {
  font-family: Gotham-Book;
  src: url(fonts/gothamhft-book-webfont.ttf), url(fonts/gothamhft-book-webfont.woff); }
@font-face {
  font-family: Gotham-Medium;
  src: url(fonts/gothamhft-medium-webfont.ttf), url(fonts/gothamhft-medium-webfont.woff); }
@font-face {
  font-family: Gotham-Bold;
  src: url(fonts/gothamhft-bold-webfont.ttf), url(fonts/gothamhft-bold-webfont.woff); }
@font-face {
  font-family: Gotham-Thin;
  src: url(fonts/gothamhft-xlight-webfont.ttf), url(fonts/gothamhft-xlight-webfont.woff); }
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* GENERIC */
* {
  -webkit-font-smoothing: antialiased;
  font-weight: 500; }

html {
  font-size: 12px; }

[contentEditable=true]:empty:not(:focus):before {
  content: attr(placeholder);
  color: darkgrey; /* useragent default (Chrome) */
}

/* ELEMENTS */
code {
  font-family: monospace; }

aside {
  overflow-y: scroll; }

main {
  overflow-x: hidden;
  overflow-y: scroll; }

p {
  /* TODO: Revisit */ }

pre code {
  font-family: Courier;
  white-space: pre-line; }

/* COMPONENTS */
.PopUp{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    background-color: #e5e5e5;
    padding: 1rem;
    min-width: 15rem;
    text-align: left;
    border-radius: .2rem;
    box-shadow: 0px 3px 30px rgba(0,0,0,.1);
}
    .PopUp:before{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 100%;
        height: 1rem;
        width: 1rem;
        background-color: inherit;
        transform: translate(-50%, -50%) rotate(45deg);
        border-radius: .2rem;
    }

/* STYLE GUIDE - GRID */
.window {
    /*height: calc(100vh - 3.4rem);*/
    box-shadow: 0 15px 100px rgba(0, 0, 0, 0.35);
    top: 1.7rem;
    right: 1.7rem;
    bottom: 1.7rem;
    left: 1.7rem; }

.alerts-list {
  height: calc(100% - 24.8rem);
  overflow-y: scroll;
}

.alert-container{
  height: 100%;
}

/* DROPDOWNS */
.dropdown input {
  background-position: right 1.7rem center;
  background-image: url(img/down-arrow.svg); }
.dropdown .menu, .modal__container {
  z-index: 9999; }
  .dropdown .menu .item {
    white-space: normal;
    word-wrap: normal; }

/* MODAL COMPONENT STYLES */
.modal {
  width: 95%;
  max-height: 95%; }
  .modal--small {
    width: 75%;
    max-height: 75%; }
  .modal__close-button {
    line-height: .2em; }

.modal__container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.button--isLoading:after {
  background-image: url(img/loading-light.png);
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  animation: spin 1s ease infinite; }

/* TRUMPS (MAKES YOUR WEBSITE GREAT AGAIN) */

.boxShadow-1{
    box-shadow: 0px 3px 30px rgba(0,0,0,.1);
}

.boxShadow-2{
    box-shadow: 0 15px 100px rgba(0, 0, 0, 0.35);
}

.bgPositionX-0 {
  background-position-x: 0rem; }

.bgPositionY-0 {
  background-position-y: 0rem; }

.bgSize-0 {
  background-size: 0rem; }

.height-0 {
  height: 0rem; }

.height-05 {
  height: 0.42rem;
}

.width-0 {
  width: 0rem; }

.minWidth-0 {
  min-width: 0; }

.margin-0, *, .checkbox [type='checkbox'],
[type='radio'], .dropdown .menu, .modal__close-button, .modal__buttons button {
  margin: 0rem; }

.marginTop-0, pre code, .marginVertical-0 {
  margin-top: 0rem; }

.marginRight-0, .marginHorizontal-0 {
  margin-right: 0rem; }

.marginBottom-0, .dropdown input, .marginVertical-0 {
  margin-bottom: 0rem; }

.marginBottom-0--important {
  margin-bottom: 0rem !important; }

.marginLeft-0, .marginHorizontal-0 {
  margin-left: 0rem; }

.padding-0, *, .modal__close-button {
  padding: 0rem; }

/* TODO: REVISIT */
.padding-0--important {
  padding: 0rem !important; }

.paddingLeft-0--important {
  padding-left: 0rem !important; }

.paddingTop-0--important {
  padding-top: 0rem !important; }

.paddingTop-0, .paddingVertical-0 {
  padding-top: 0rem; }

.paddingRight-0, .paddingHorizontal-0 {
  padding-right: 0rem; }

.paddingBottom-0, .paddingVertical-0 {
  padding-bottom: 0rem; }

.paddingLeft-0, .paddingHorizontal-0 {
  padding-left: 0rem; }

.fontSize-0 {
  font-size: 0rem; }

.lineHeight-0 {
  line-height: 0rem; }

.letterSpacing-0 {
  letter-spacing: 0rem; }

.top-0, .modal__container {
  top: 0rem; }

.bottom-0, .modal__container {
  bottom: 0rem; }

.left-0, .modal__container {
  left: 0rem; }

.right-0, .modal__container {
  right: 0rem; }

.borderWidth-0, * {
  border-width: 0rem; }

.borderBottom-0{
    border-bottom-width: 0;
}

.borderHorizontal-0 {
  border-left: 0rem solid;
  border-right: 0rem solid; }

.outlineWidth-0 {
  outline-width: 0rem; }

.maxHeight-0 {
  max-height: 0rem; }

.bgPositionX-1 {
  background-position-x: 0.85rem; }

.bgPositionY-1 {
  background-position-y: 0.85rem; }

.bgSize-1, .dropdown input {
  background-size: 0.85rem; }

.height-1 {
  height: 0.85rem; }

.width-1 {
  width: 0.85rem; }

.margin-1 {
  margin: 0.85rem; }

.marginTop-1, .marginVertical-1 {
  margin-top: 0.85rem; }

.marginRight-1, .input--inline label, .marginHorizontal-1 {
  margin-right: 0.85rem; }

.marginBottom-1, input, .marginVertical-1 {
  margin-bottom: 0.85rem; }

.marginBottom-1--important {
  margin-bottom: 0.85rem !important; }

.marginLeft-1, .marginHorizontal-1 {
  margin-left: 0.85rem; }

.padding-05 {
  padding: 0.42rem;
}

.padding-1 {
  padding: 0.85rem; }

/* TODO: REVISIT */
.padding-1--important {
  padding: 0.85rem !important; }

.paddingLeft-1--important {
  padding-left: 0.85rem !important; }

.paddingTop-1--important {
  padding-top: 0.85rem !important; }

.paddingTop-1, .paddingVertical-1, input {
  padding-top: 0.85rem; }

.paddingRight-1, .paddingHorizontal-1 {
  padding-right: 0.85rem; }

.paddingBottom-1, .paddingVertical-1, input {
  padding-bottom: 0.85rem; }

.paddingLeft-1, .paddingHorizontal-1 {
  padding-left: 0.85rem; }

.fontSize-1, button, label {
  font-size: 0.85rem; }

.lineHeight-1 {
  line-height: 0.85rem; }

.letterSpacing-1 {
  letter-spacing: 0.85rem; }

.top-1 {
  top: 0.85rem; }

.bottom-1 {
  bottom: 0.85rem; }

.left-1 {
  left: 0.85rem; }

.right-1 {
  right: 0.85rem; }

.borderWidth-1, code, pre, input, .checkbox [type='checkbox'] + span::before, [type="radio"],
[type="radio"] + span::before, .dropdown .menu {
  border-width: 0.85rem; }

.borderHorizontal-1 {
  border-left: 0.85rem solid;
  border-right: 0.85rem solid; }

.outlineWidth-1 {
  outline-width: 0.85rem; }

.maxHeight-1 {
  max-height: 0.85rem; }

.bgPositionX-2, .input--calendar {
  background-position-x: 1rem; }

.bgPositionY-2 {
  background-position-y: 1rem; }

.bgSize-2, .checkbox [type='checkbox']:checked + span:before {
  background-size: 1rem; }

.height-2 {
  height: 1rem; }

.width-2 {
  width: 1rem; }

.margin-2 {
  margin: 1rem; }

.marginTop-2, .marginVertical-2 {
  margin-top: 1rem; }

.marginRight-2, .checkbox [type='checkbox'] + span:before,
[type='radio'] + span:before, .marginHorizontal-2 {
  margin-right: 1rem; }

.marginBottom-2, .marginVertical-2 {
  margin-bottom: 1rem; }

.marginBottom-2--important {
  margin-bottom: 1rem !important; }

.marginLeft-2, .marginHorizontal-2 {
  margin-left: 1rem; }

.padding-2, select {
  padding: 1rem; }

/* TODO: REVISIT */
.padding-2--important {
  padding: 1rem !important; }

.paddingLeft-2--important {
  padding-left: 1rem !important; }

.paddingTop-2--important {
  padding-top: 1rem !important; }

.paddingTop-2, .paddingVertical-2, .dropdown .menu .item {
  padding-top: 1rem; }

.paddingRight-2, .paddingHorizontal-2 {
  padding-right: 1rem; }

.paddingBottom-2, .paddingVertical-2, .dropdown .menu .item {
  padding-bottom: 1rem; }

.paddingLeft-2, .paddingHorizontal-2 {
  padding-left: 1rem; }

.fontSize-2, input, .dropdown .menu .item {
  font-size: 1rem; }

.lineHeight-2 {
  line-height: 1rem; }

.letterSpacing-2 {
  letter-spacing: 1rem; }

.top-2, .modal__close-button {
  top: 1rem; }

.bottom-2 {
  bottom: 1rem; }

.left-2 {
  left: 1rem; }

.right-2, .modal__close-button {
  right: 1rem; }

.borderWidth-2 {
  border-width: 1rem; }

.borderHorizontal-2 {
  border-left: 1rem solid;
  border-right: 1rem solid; }

.outlineWidth-2 {
  outline-width: 1rem; }

.maxHeight-2 {
  max-height: 1rem; }

.bgPositionX-3 {
  background-position-x: 1.2rem; }

.bgPositionY-3 {
  background-position-y: 1.2rem; }

.bgSize-3 {
  background-size: 1.2rem; }

.height-3 {
  height: 1.2rem; }

.width-3 {
  width: 1.2rem; }

.margin-3 {
  margin: 1.2rem; }

.marginTop-3, .marginVertical-3, button {
  margin-top: 1.2rem; }

.marginRight-3, .marginHorizontal-3 {
  margin-right: 1.2rem; }

.marginBottom-3, .marginVertical-3, button {
  margin-bottom: 1.2rem; }

.marginBottom-3--important {
  margin-bottom: 1.2rem !important; }

.marginLeft-3, .marginHorizontal-3 {
  margin-left: 1.2rem; }

.padding-3 {
  padding: 1.2rem; }

/* TODO: REVISIT */
.padding-3--important {
  padding: 1.2rem !important; }

.paddingLeft-3--important {
  padding-left: 1.2rem !important; }

.paddingTop-3--important {
  padding-top: 1.2rem !important; }

.paddingTop-3, .paddingVertical-3, button {
  padding-top: 1.2rem; }

.paddingRight-3, .paddingHorizontal-3, input {
  padding-right: 1.2rem; }

.paddingBottom-3, .paddingVertical-3, button {
  padding-bottom: 1.2rem; }

.paddingLeft-3, .paddingHorizontal-3, input {
  padding-left: 1.2rem; }

.fontSize-3, code, pre code {
  font-size: 1.2rem; }

.lineHeight-3 {
  line-height: 1.2rem; }

.letterSpacing-3 {
  letter-spacing: 1.2rem; }

.top-3 {
  top: 1.2rem; }

.bottom-3 {
  bottom: 1.2rem; }

.left-3 {
  left: 1.2rem; }

.right-3 {
  right: 1.2rem; }

.borderWidth-3 {
  border-width: 1.2rem; }

.borderHorizontal-3 {
  border-left: 1.2rem solid;
  border-right: 1.2rem solid; }

.outlineWidth-3 {
  outline-width: 1.2rem; }

.maxHeight-3 {
  max-height: 1.2rem; }

.bgPositionX-4, .input--location {
  background-position-x: 1.4rem; }

.bgPositionY-4 {
  background-position-y: 1.4rem; }

.bgSize-4 {
  background-size: 1.4rem; }

.height-4, .checkbox [type='checkbox'], .checkbox [type='checkbox'] + span:before,
[type='radio'] + span:before {
  height: 1.4rem; }

.width-4, .checkbox [type='checkbox'], .checkbox [type='checkbox'] + span:before,
[type='radio'] + span:before {
  width: 1.4rem; }

.margin-4 {
  margin: 1.4rem; }

.marginTop-4, .marginVertical-4, main ul, pre {
  margin-top: 1.4rem; }

.marginRight-4, .marginHorizontal-4 {
  margin-right: 1.4rem; }

.marginBottom-4, h3, h4, .marginVertical-4, main ul, pre {
  margin-bottom: 1.4rem; }

.marginBottom-4--important {
  margin-bottom: 1.4rem !important; }

.marginLeft-4, .marginHorizontal-4 {
  margin-left: 1.4rem; }

.padding-4, pre {
  padding: 1.4rem; }

/* TODO: REVISIT */
.padding-4--important {
  padding: 1.4rem !important; }

.paddingLeft-4--important {
  padding-left: 1.4rem !important; }

.paddingTop-4--important {
  padding-top: 1.4rem !important; }

.paddingTop-4, .paddingVertical-4 {
  padding-top: 1.4rem; }

.paddingRight-4, .paddingHorizontal-4 {
  padding-right: 1.4rem; }

.paddingBottom-4, .paddingVertical-4 {
  padding-bottom: 1.4rem; }

.paddingLeft-4, .paddingHorizontal-4 {
  padding-left: 1.4rem; }

.fontSize-4, h2 {
  font-size: 1.4rem; }

.lineHeight-4 {
  line-height: 1.4rem; }

.letterSpacing-4 {
  letter-spacing: 1.4rem; }

.top-4 {
  top: 1.4rem; }

.bottom-4 {
  bottom: 1.4rem; }

.left-4 {
  left: 1.4rem; }

.right-4 {
  right: 1.4rem; }

.borderWidth-4 {
  border-width: 1.4rem; }

.borderHorizontal-4 {
  border-left: 1.4rem solid;
  border-right: 1.4rem solid; }

.outlineWidth-4 {
  outline-width: 1.4rem; }

.maxHeight-4 {
  max-height: 1.4rem; }

.bgPositionX-5 {
  background-position-x: 1.7rem; }

.bgPositionY-5 {
  background-position-y: 1.7rem; }

.bgSize-5 {
  background-size: 1.7rem; }

.height-5 {
  height: 1.7rem; }

.width-5 {
  width: 1.7rem; }

.margin-5 {
  margin: 1.7rem; }

.marginTop-5, .marginVertical-5 {
  margin-top: 1.7rem; }

.marginRight-5, .marginHorizontal-5 {
  margin-right: 1.7rem; }

.marginBottom-5, .marginVertical-5 {
  margin-bottom: 1.7rem; }

.marginBottom-5--important {
  margin-bottom: 1.7rem !important; }

.marginLeft-5, .marginHorizontal-5 {
  margin-left: 1.7rem; }

.padding-5{
  padding: 1.7rem; }

/* TODO: REVISIT */
.padding-5--important {
  padding: 1.7rem !important; }

.paddingLeft-5--important {
  padding-left: 1.7rem !important; }

.paddingTop-5--important {
  padding-top: 1.7rem !important; }

.paddingTop-5, .paddingVertical-5 {
  padding-top: 1.7rem; }

.paddingRight-5, .paddingHorizontal-5, .dropdown .menu .item {
  padding-right: 1.7rem; }

.paddingBottom-5, .paddingVertical-5 {
  padding-bottom: 1.7rem; }

.paddingLeft-5, .paddingHorizontal-5, .dropdown .menu .item {
  padding-left: 1.7rem; }

.fontSize-5 {
  font-size: 1.7rem; }

.lineHeight-5 {
  line-height: 1.7rem; }

.letterSpacing-5 {
  letter-spacing: 1.7rem; }

.top-5 {
  top: 1.7rem; }

.bottom-5 {
  bottom: 1.7rem; }

.left-5 {
  left: 1.7rem; }

.right-5 {
  right: 1.7rem; }

.borderWidth-5 {
  border-width: 1.7rem; }

.borderHorizontal-5 {
  border-left: 1.7rem solid;
  border-right: 1.7rem solid; }

.outlineWidth-5 {
  outline-width: 1.7rem; }

.maxHeight-5 {
  max-height: 1.7rem; }

.bgPositionX-6 {
  background-position-x: 2rem; }

.bgPositionY-6 {
  background-position-y: 2rem; }

.bgSize-6 {
  background-size: 2rem; }

.height-6, .button--isLoading:after {
  height: 2rem; }

.width-6, .button--isLoading:after {
  width: 2rem; }

.margin-6 {
  margin: 2rem; }

.marginTop-6, h1, h4, .marginVertical-6 {
  margin-top: 2rem; }

.marginRight-6, .marginHorizontal-6 {
  margin-right: 2rem; }

.marginBottom-6, .marginVertical-6 {
  margin-bottom: 2rem; }

.marginBottom-6--important {
  margin-bottom: 2rem !important; }

.marginLeft-6, .marginHorizontal-6 {
  margin-left: 2rem; }

.padding-6 {
  padding: 2rem; }

/* TODO: REVISIT */
.padding-6--important {
  padding: 2rem !important; }

.paddingLeft-6--important {
  padding-left: 2rem !important; }

.paddingTop-6--important {
  padding-top: 2rem !important; }

.paddingTop-6, .modal, .paddingVertical-6 {
  padding-top: 2rem; }

.paddingRight-6, .paddingHorizontal-6 {
  padding-right: 2rem; }

.paddingBottom-6, .paddingVertical-6 {
  padding-bottom: 2rem; }

.paddingLeft-6, .paddingHorizontal-6 {
  padding-left: 2rem; }

.fontSize-6 {
  font-size: 2rem; }

.lineHeight-6 {
  line-height: 2rem; }

.letterSpacing-6 {
  letter-spacing: 2rem; }

.top-6 {
  top: 2rem; }

.bottom-6 {
  bottom: 2rem; }

.left-6 {
  left: 2rem; }

.right-6 {
  right: 2rem; }

.borderWidth-6 {
  border-width: 2rem; }

.borderHorizontal-6 {
  border-left: 2rem solid;
  border-right: 2rem solid; }

.outlineWidth-6 {
  outline-width: 2rem; }

.maxHeight-6 {
  max-height: 2rem; }

.bgPositionX-7 {
  background-position-x: 2.5rem; }

.bgPositionY-7 {
  background-position-y: 2.5rem; }

.bgSize-7 {
  background-size: 2.5rem; }

.height-7 {
  height: 2.5rem; }

.width-7 {
  width: 2.5rem; }

.margin-7 {
  margin: 2.5rem; }

.marginTop-7, .marginVertical-7 {
  margin-top: 2.5rem; }

.marginRight-7, .marginHorizontal-7 {
  margin-right: 2.5rem; }

.marginBottom-7, .marginVertical-7 {
  margin-bottom: 2.5rem; }

.marginBottom-7--important {
  margin-bottom: 2.5rem !important; }

.marginLeft-7, .marginHorizontal-7 {
  margin-left: 2.5rem; }

.padding-7 {
  padding: 2.5rem; }

/* TODO: REVISIT */
.padding-7--important {
  padding: 2.5rem !important; }

.paddingLeft-7--important {
  padding-left: 2.5rem !important; }

.paddingTop-7--important {
  padding-top: 2.5rem !important; }

.paddingTop-7, .paddingVertical-7 {
  padding-top: 2.5rem; }

.paddingRight-7, .paddingHorizontal-7 {
  padding-right: 2.5rem; }

.paddingBottom-7, .paddingVertical-7 {
  padding-bottom: 2.5rem; }

.paddingLeft-7, .paddingHorizontal-7 {
  padding-left: 2.5rem; }

.fontSize-7 {
  font-size: 2.5rem; }

.lineHeight-7, main ul {
  line-height: 2.5rem; }

.letterSpacing-7 {
  letter-spacing: 2.5rem; }

.top-7 {
  top: 2.5rem; }

.bottom-7 {
  bottom: 2.5rem; }

.left-7 {
  left: 2.5rem; }

.right-7 {
  right: 2.5rem; }

.borderWidth-7 {
  border-width: 2.5rem; }

.borderHorizontal-7 {
  border-left: 2.5rem solid;
  border-right: 2.5rem solid; }

.outlineWidth-7 {
  outline-width: 2.5rem; }

.maxHeight-7 {
  max-height: 2.5rem; }

.bgPositionX-8 {
  background-position-x: 3rem; }

.bgPositionY-8 {
  background-position-y: 3rem; }

.bgSize-8 {
  background-size: 3rem; }

.height-8 {
  height: 3rem; }

.width-8 {
  width: 3rem; }

.margin-8 {
  margin: 3rem; }

.marginTop-8, h3, .marginVertical-8 {
  margin-top: 3rem; }

.marginRight-8, .marginHorizontal-8 {
  margin-right: 3rem; }

.marginBottom-8, h1, .marginVertical-8 {
  margin-bottom: 3rem; }

.marginBottom-8--important {
  margin-bottom: 3rem !important; }

.marginLeft-8, .marginHorizontal-8 {
  margin-left: 3rem; }

.padding-8 {
  padding: 3rem; }

/* TODO: REVISIT */
.padding-8--important {
  padding: 3rem !important; }

.paddingLeft-8--important {
  padding-left: 3rem !important; }

.paddingTop-8--important {
  padding-top: 3rem !important; }

.paddingTop-8, .paddingVertical-8, .modal--small {
  padding-top: 3rem; }

.paddingRight-8, .paddingHorizontal-8, .modal--small {
  padding-right: 3rem; }

.paddingBottom-8, .paddingVertical-8, .modal--small {
  padding-bottom: 3rem; }

.paddingLeft-8, .paddingHorizontal-8, .modal--small {
  padding-left: 3rem; }

.fontSize-8, h1, .modal__close-button {
  font-size: 3rem; }

.lineHeight-8 {
  line-height: 3rem; }

.letterSpacing-8 {
  letter-spacing: 3rem; }

.top-8 {
  top: 3rem; }

.bottom-8 {
  bottom: 3rem; }

.left-8 {
  left: 3rem; }

.right-8 {
  right: 3rem; }

.borderWidth-8 {
  border-width: 3rem; }

.borderHorizontal-8 {
  border-left: 3rem solid;
  border-right: 3rem solid; }

.outlineWidth-8 {
  outline-width: 3rem; }

.maxHeight-8 {
  max-height: 3rem; }

.bgPositionX-9 {
  background-position-x: 3.6rem; }

.bgPositionY-9 {
  background-position-y: 3.6rem; }

.bgSize-9 {
  background-size: 3.6rem; }

.height-9 {
  height: 3.6rem; }

.width-9 {
  width: 3.6rem; }

.margin-9 {
  margin: 3.6rem; }

.marginTop-9, .marginVertical-9 {
  margin-top: 3.6rem; }

.marginRight-9, .marginHorizontal-9 {
  margin-right: 3.6rem; }

.marginBottom-9, .marginVertical-9 {
  margin-bottom: 3.6rem; }

.marginBottom-9--important {
  margin-bottom: 3.6rem !important; }

.marginLeft-9, .marginHorizontal-9 {
  margin-left: 3.6rem; }

.padding-9 {
  padding: 3.6rem; }

/* TODO: REVISIT */
.padding-9--important {
  padding: 3.6rem !important; }

.paddingLeft-9--important {
  padding-left: 3.6rem !important; }

.paddingTop-9--important {
  padding-top: 3.6rem !important; }

.paddingTop-9, .paddingVertical-9 {
  padding-top: 3.6rem; }

.paddingRight-9, .dropdown input, .paddingHorizontal-9, button {
  padding-right: 3.6rem; }

.paddingBottom-9, .paddingVertical-9 {
  padding-bottom: 3.6rem; }

.paddingLeft-9, .paddingHorizontal-9, button {
  padding-left: 3.6rem; }

.fontSize-9 {
  font-size: 3.6rem; }

.lineHeight-9 {
  line-height: 3.6rem; }

.letterSpacing-9 {
  letter-spacing: 3.6rem; }

.top-9 {
  top: 3.6rem; }

.bottom-9 {
  bottom: 3.6rem; }

.left-9 {
  left: 3.6rem; }

.right-9 {
  right: 3.6rem; }

.borderWidth-9 {
  border-width: 3.6rem; }

.borderHorizontal-9 {
  border-left: 3.6rem solid;
  border-right: 3.6rem solid; }

.outlineWidth-9 {
  outline-width: 3.6rem; }

.maxHeight-9 {
  max-height: 3.6rem; }

.bgPositionX-10 {
  background-position-x: 4.3rem; }

.bgPositionY-10 {
  background-position-y: 4.3rem; }

.bgSize-10 {
  background-size: 4.3rem; }

.height-10 {
  height: 4.3rem; }

.width-10 {
  width: 4.3rem; }

.margin-10 {
  margin: 4.3rem; }

.marginTop-10, .marginVertical-10 {
  margin-top: 4.3rem; }

.marginRight-10, .marginHorizontal-10 {
  margin-right: 4.3rem; }

.marginBottom-10, .marginVertical-10 {
  margin-bottom: 4.3rem; }

.marginBottom-10--important {
  margin-bottom: 4.3rem !important; }

.marginLeft-10, main ul, .marginHorizontal-10 {
  margin-left: 4.3rem; }

.padding-10, main {
  padding: 4.3rem; }

/* TODO: REVISIT */
.padding-10--important {
  padding: 4.3rem !important; }

.paddingLeft-10--important {
  padding-left: 4.3rem !important; }

.paddingTop-10--important {
  padding-top: 4.3rem !important; }

.paddingTop-10, .paddingVertical-10 {
  padding-top: 4.3rem; }

.paddingRight-10, .paddingHorizontal-10 {
  padding-right: 4.3rem; }

.paddingBottom-10, .paddingVertical-10 {
  padding-bottom: 4.3rem; }

.paddingLeft-10, .input--calendar,
.input--location, .input--search, .paddingHorizontal-10 {
  padding-left: 4.3rem; }

.fontSize-10 {
  font-size: 4.3rem; }

.lineHeight-10 {
  line-height: 4.3rem; }

.letterSpacing-10 {
  letter-spacing: 4.3rem; }

.top-10 {
  top: 4.3rem; }

.bottom-10 {
  bottom: 4.3rem; }

.left-10 {
  left: 4.3rem; }

.right-10 {
  right: 4.3rem; }

.borderWidth-10 {
  border-width: 4.3rem; }

.borderHorizontal-10 {
  border-left: 4.3rem solid;
  border-right: 4.3rem solid; }

.outlineWidth-10 {
  outline-width: 4.3rem; }

.maxHeight-10 {
  max-height: 4.3rem; }

.bgPositionX-11 {
  background-position-x: 5.2rem; }

.bgPositionY-11 {
  background-position-y: 5.2rem; }

.bgSize-11 {
  background-size: 5.2rem; }

.height-11 {
  height: 5.2rem; }

.width-11 {
  width: 5.2rem; }

.margin-11 {
  margin: 5.2rem; }

.marginTop-11, .marginVertical-11 {
  margin-top: 5.2rem; }

.marginRight-11, .marginHorizontal-11 {
  margin-right: 5.2rem; }

.marginBottom-11, .marginVertical-11 {
  margin-bottom: 5.2rem; }

.marginBottom-11--important {
  margin-bottom: 5.2rem !important; }

.marginLeft-11, .marginHorizontal-11 {
  margin-left: 5.2rem; }

.padding-11 {
  padding: 5.2rem; }

/* TODO: REVISIT */
.padding-11--important {
  padding: 5.2rem !important; }

.paddingLeft-11--important {
  padding-left: 5.2rem !important; }

.paddingTop-11--important {
  padding-top: 5.2rem !important; }

.paddingTop-11, .paddingVertical-11 {
  padding-top: 5.2rem; }

.paddingRight-11, .paddingHorizontal-11 {
  padding-right: 5.2rem; }

.paddingBottom-11, .paddingVertical-11 {
  padding-bottom: 5.2rem; }

.paddingLeft-11, .paddingHorizontal-11 {
  padding-left: 5.2rem; }

.fontSize-11 {
  font-size: 5.2rem; }

.lineHeight-11 {
  line-height: 5.2rem; }

.letterSpacing-11 {
  letter-spacing: 5.2rem; }

.top-11 {
  top: 5.2rem; }

.bottom-11 {
  bottom: 5.2rem; }

.left-11 {
  left: 5.2rem; }

.right-11 {
  right: 5.2rem; }

.borderWidth-11 {
  border-width: 5.2rem; }

.borderHorizontal-11 {
  border-left: 5.2rem solid;
  border-right: 5.2rem solid; }

.outlineWidth-11 {
  outline-width: 5.2rem; }

.maxHeight-11 {
  max-height: 5.2rem; }

.bgPositionX-12 {
  background-position-x: 6.2rem; }

.bgPositionY-12 {
  background-position-y: 6.2rem; }

.bgSize-12 {
  background-size: 6.2rem; }

.height-12 {
  height: 6.2rem; }

.width-12 {
  width: 6.2rem; }

.margin-12 {
  margin: 6.2rem; }

.marginTop-12, .marginVertical-12 {
  margin-top: 6.2rem; }

.marginRight-12, .marginHorizontal-12 {
  margin-right: 6.2rem; }

.marginBottom-12, .marginVertical-12 {
  margin-bottom: 6.2rem; }

.marginBottom-12--important {
  margin-bottom: 6.2rem !important; }

.marginLeft-12, .marginHorizontal-12 {
  margin-left: 6.2rem; }

.padding-12 {
  padding: 6.2rem; }

/* TODO: REVISIT */
.padding-12--important {
  padding: 6.2rem !important; }

.paddingLeft-12--important {
  padding-left: 6.2rem !important; }

.paddingTop-12--important {
  padding-top: 6.2rem !important; }

.paddingTop-12, .paddingVertical-12 {
  padding-top: 6.2rem; }

.paddingRight-12, .paddingHorizontal-12 {
  padding-right: 6.2rem; }

.paddingBottom-12, .paddingVertical-12 {
  padding-bottom: 6.2rem; }

.paddingLeft-12, .paddingHorizontal-12 {
  padding-left: 6.2rem; }

.fontSize-12 {
  font-size: 6.2rem; }

.lineHeight-12 {
  line-height: 6.2rem; }

.letterSpacing-12 {
  letter-spacing: 6.2rem; }

.top-12 {
  top: 6.2rem; }

.bottom-12 {
  bottom: 6.2rem; }

.left-12 {
  left: 6.2rem; }

.right-12 {
  right: 6.2rem; }

.borderWidth-12 {
  border-width: 6.2rem; }

.borderHorizontal-12 {
  border-left: 6.2rem solid;
  border-right: 6.2rem solid; }

.outlineWidth-12 {
  outline-width: 6.2rem; }

.maxHeight-12 {
  max-height: 6.2rem; }

.bgPositionX-13 {
  background-position-x: 7.4rem; }

.bgPositionY-13 {
  background-position-y: 7.4rem; }

.bgSize-13 {
  background-size: 7.4rem; }

.height-13 {
  height: 7.4rem; }

.width-13 {
  width: 7.4rem; }

.margin-13 {
  margin: 7.4rem; }

.marginTop-13, .marginVertical-13 {
  margin-top: 7.4rem; }

.marginRight-13, .marginHorizontal-13 {
  margin-right: 7.4rem; }

.marginBottom-13, .marginVertical-13 {
  margin-bottom: 7.4rem; }

.marginBottom-13--important {
  margin-bottom: 7.4rem !important; }

.marginLeft-13, .marginHorizontal-13 {
  margin-left: 7.4rem; }

.padding-13 {
  padding: 7.4rem; }

/* TODO: REVISIT */
.padding-13--important {
  padding: 7.4rem !important; }

.paddingLeft-13--important {
  padding-left: 7.4rem !important; }

.paddingTop-13--important {
  padding-top: 7.4rem !important; }

.paddingTop-13, .paddingVertical-13 {
  padding-top: 7.4rem; }

.paddingRight-13, .paddingHorizontal-13 {
  padding-right: 7.4rem; }

.paddingBottom-13, .paddingVertical-13 {
  padding-bottom: 7.4rem; }

.paddingLeft-13, .paddingHorizontal-13 {
  padding-left: 7.4rem; }

.fontSize-13 {
  font-size: 7.4rem; }

.lineHeight-13 {
  line-height: 7.4rem; }

.letterSpacing-13 {
  letter-spacing: 7.4rem; }

.top-13 {
  top: 7.4rem; }

.bottom-13 {
  bottom: 7.4rem; }

.left-13 {
  left: 7.4rem; }

.right-13 {
  right: 7.4rem; }

.borderWidth-13 {
  border-width: 7.4rem; }

.borderHorizontal-13 {
  border-left: 7.4rem solid;
  border-right: 7.4rem solid; }

.outlineWidth-13 {
  outline-width: 7.4rem; }

.maxHeight-13 {
  max-height: 7.4rem; }

.bgPositionX-14 {
  background-position-x: 8.9rem; }

.bgPositionY-14 {
  background-position-y: 8.9rem; }

.bgSize-14 {
  background-size: 8.9rem; }

.height-14 {
  height: 8.9rem; }

.width-14 {
  width: 8.9rem; }

.margin-14 {
  margin: 8.9rem; }

.marginTop-14, .marginVertical-14 {
  margin-top: 8.9rem; }

.marginRight-14, .marginHorizontal-14 {
  margin-right: 8.9rem; }

.marginBottom-14, .marginVertical-14 {
  margin-bottom: 8.9rem; }

.marginBottom-14--important {
  margin-bottom: 8.9rem !important; }

.marginLeft-14, .marginHorizontal-14 {
  margin-left: 8.9rem; }

.padding-14 {
  padding: 8.9rem; }

/* TODO: REVISIT */
.padding-14--important {
  padding: 8.9rem !important; }

.paddingLeft-14--important {
  padding-left: 8.9rem !important; }

.paddingTop-14--important {
  padding-top: 8.9rem !important; }

.paddingTop-14, .paddingVertical-14 {
  padding-top: 8.9rem; }

.paddingRight-14, .paddingHorizontal-14 {
  padding-right: 8.9rem; }

.paddingBottom-14, .paddingVertical-14 {
  padding-bottom: 8.9rem; }

.paddingLeft-14, .paddingHorizontal-14 {
  padding-left: 8.9rem; }

.fontSize-14 {
  font-size: 8.9rem; }

.lineHeight-14 {
  line-height: 8.9rem; }

.letterSpacing-14 {
  letter-spacing: 8.9rem; }

.top-14 {
  top: 8.9rem; }

.bottom-14 {
  bottom: 8.9rem; }

.left-14 {
  left: 8.9rem; }

.right-14 {
  right: 8.9rem; }

.borderWidth-14 {
  border-width: 8.9rem; }

.borderHorizontal-14 {
  border-left: 8.9rem solid;
  border-right: 8.9rem solid; }

.outlineWidth-14 {
  outline-width: 8.9rem; }

.maxHeight-14 {
  max-height: 8.9rem; }

.bgPositionX-15 {
  background-position-x: 10.7rem; }

.bgPositionY-15 {
  background-position-y: 10.7rem; }

.bgSize-15 {
  background-size: 10.7rem; }

.height-15 {
  height: 10.7rem; }

.width-15 {
  width: 10.7rem; }

.margin-15 {
  margin: 10.7rem; }

.marginTop-15, .marginVertical-15 {
  margin-top: 10.7rem; }

.marginRight-15, .marginHorizontal-15 {
  margin-right: 10.7rem; }

.marginBottom-15, .marginVertical-15 {
  margin-bottom: 10.7rem; }

.marginBottom-15--important {
  margin-bottom: 10.7rem !important; }

.marginLeft-15, .marginHorizontal-15 {
  margin-left: 10.7rem; }

.padding-15 {
  padding: 10.7rem; }

/* TODO: REVISIT */
.padding-15--important {
  padding: 10.7rem !important; }

.paddingLeft-15--important {
  padding-left: 10.7rem !important; }

.paddingTop-15--important {
  padding-top: 10.7rem !important; }

.paddingTop-15, .paddingVertical-15 {
  padding-top: 10.7rem; }

.paddingRight-15, .paddingHorizontal-15 {
  padding-right: 10.7rem; }

.paddingBottom-15, .paddingVertical-15 {
  padding-bottom: 10.7rem; }

.paddingLeft-15, .paddingHorizontal-15 {
  padding-left: 10.7rem; }

.fontSize-15 {
  font-size: 10.7rem; }

.lineHeight-15 {
  line-height: 10.7rem; }

.letterSpacing-15 {
  letter-spacing: 10.7rem; }

.top-15 {
  top: 10.7rem; }

.bottom-15 {
  bottom: 10.7rem; }

.left-15 {
  left: 10.7rem; }

.right-15 {
  right: 10.7rem; }

.borderWidth-15 {
  border-width: 10.7rem; }

.borderHorizontal-15 {
  border-left: 10.7rem solid;
  border-right: 10.7rem solid; }

.outlineWidth-15 {
  outline-width: 10.7rem; }

.maxHeight-15, .dropdown .menu {
  max-height: 10.7rem; }

.borderWidth-1, code, pre, input, .checkbox [type='checkbox'] + span::before, [type="radio"],
[type="radio"] + span::before, .dropdown .menu {
  border-width: 1px;
  border-style: solid; }

.borderRight-1, aside {
  border-right: 1px solid; }

.borderLeft-1 {
  border-left: 1px solid; }

.borderTop-1 {
  border-top: 1px solid; }

.borderTop-2 {
  border-top: 1rem solid; }

.borderBottom-1 {
  border-bottom: 1px solid; }

.borderVertical-1 {
  border-top: 1px solid;
  border-bottom: 1px solid; }

.borderHorizontal-1 {
  border-left: 1px solid;
  border-right: 1px solid; }

.borderRadius-1, button, code, pre, input, .checkbox [type='checkbox'] + span::before, [type="radio"],
[type="radio"] + span::before, .window, .dropdown .menu, .modal {
  border-radius: .2rem; }

.borderRadius-0 {
  border-radius: 0rem; }

.borderRadius-6, [type="radio"],
[type="radio"] + span::before {
  border-radius: 2rem; }

.border-none {
  border: none; }

.borderRadius-1-bottom {
  border-radius: 0 0 2px 2px; }

.borderRadius-1-top {
  border-radius: 2px 2px 0 0; }

.borderRadius-11 {
  border-radius: 5.2rem;
}

.borderStyle-solid {
  border-style: solid; }

.outlineStyle-solid {
  outline-style: solid; }

.outlineOffset-2--negative {
  outline-offset: -1rem; }

.opacity-0{
/*.checkbox [type='checkbox'],
[type='radio'] {*/
  opacity: 0; }

.opacity-6, .checkbox [type='checkbox']:disabled + span::before,
[type='radio']:disabled + span::before, button:disabled {
  opacity: .6; }

.width-eigth-vw {
  width: 12.5vw; }

.width-eigth {
  width: 12.5%; }

.maxWidth-eigth {
  max-width: 12.5%; }

.top-eigth {
  top: 12.5%; }

.right-eigth {
  right: 12.5%; }

.bottom-eigth {
  bottom: 12.5%; }

.left-eigth {
  left: 12.5%; }

.bgSize-eigth {
  background-size: 12.5%; }

.width-fifth-vw, aside {
  width: 20vw; }

.width-fifth {
  width: 20%; }

.maxWidth-fifth {
  max-width: 20%; }

.minWidth-fifth {
  min-width: 20%; }

.flexBasis-fifth{
    flex-basis: 20%;
}

.top-fifth {
  top: 20%; }

.right-fifth {
  right: 20%; }

.bottom-fifth {
  bottom: 20%; }

.left-fifth, main {
  left: 20%; }

.bgSize-fifth {
  background-size: 20%; }

.width-fourth-vw {
  width: 25vw; }

.width-fourth {
  width: 25%; }

.maxWidth-fourth {
  max-width: 25%; }

.top-fourth {
  top: 25%; }

.right-fourth {
  right: 25%; }

.bottom-fourth {
  bottom: 25%; }

.left-fourth {
  left: 25%; }

.bgSize-fourth {
  background-size: 25%; }

.width-third-vw {
  width: 33.33vw; }

.width-third {
  width: 33.33%; }

.maxWidth-third {
  max-width: 33.33%; }

.top-third {
  top: 33.33%; }

.right-third {
  right: 33.33%; }

.bottom-third {
  bottom: 33.33%; }

.left-third {
  left: 33.33%; }

.bgSize-third {
  background-size: 33.33%; }

.width-half-vw {
  width: 50vw; }

.width-half {
  width: 50%; }

.maxWidth-half {
  max-width: 50%; }

.top-half{
  top: 50%; }

.right-half {
  right: 50%; }

.bottom-half {
  bottom: 50%; }

.left-half{
  left: 50%; }

.bgSize-half {
  background-size: 50%; }

.width-three-fourths-vw {
  width: 75vw; }

.width-three-fourths {
  width: 75%; }

.maxWidth-three-fourths {
  max-width: 75%; }

.flexBasis-three-fourths{
    flex-basis: 75%;
}

.top-three-fourths {
  top: 75%; }

.right-three-fourths {
  right: 75%; }

.bottom-three-fourths {
  bottom: 75%; }

.left-three-fourths {
  left: 75%; }

.bgSize-three-fourths {
  background-size: 75%; }

.width-whole-vw {
  width: 100vw; }

.width-whole, input, .grid, .dropdown .menu {
  width: 100%; }

.maxWidth-whole, pre code {
  max-width: 100%; }

.top-whole {
  top: 100%; }

.right-whole {
  right: 100%; }

.bottom-whole {
  bottom: 100%; }

.left-whole {
  left: 100%; }

.bgSize-whole, .button--isLoading:after {
  background-size: 100%; }

.bgColor-express {
  background-color: #fc7770; }

.fontColor-express {
  color: #fc7770; }

.borderColor-express {
  border-color: #fc7770; }

.outlineColor-express {
  outline-color: #fc7770; }

.bgColor-priority {
  background-color: #b5caa4; }

.fontColor-priority {
  color: #b5caa4; }

.borderColor-priority {
  border-color: #b5caa4; }

.outlineColor-priority {
  outline-color: #b5caa4; }

.bgColor-standard {
  background-color: #95bad3; }

.fontColor-standard {
  color: #95bad3; }

.borderColor-standard {
  border-color: #95bad3; }

.outlineColor-standard {
  outline-color: #95bad3; }

.bgColor-danger {
  background-color: #b12825; }

.fontColor-danger, .error-validation {
  color: #b12825; }

.borderColor-danger, .error {
  border-color: #b12825; }

.outlineColor-danger {
  outline-color: #b12825; }

.bgColor-info {
  background-color: #aacee5; }

.fontColor-info {
  color: #aacee5; }

.borderColor-info {
  border-color: #aacee5; }

.outlineColor-info {
  outline-color: #aacee5; }

.bgColor-success {
  background-color: #668600; }

.fontColor-success {
  color: #668600; }

.borderColor-success {
  border-color: #668600; }

.outlineColor-success {
  outline-color: #668600; }

.bgColor-warning {
  background-color: #f37c2a; }

.fontColor-warning {
  color: #f37c2a; }

.borderColor-warning {
  border-color: #f37c2a; }

.outlineColor-warning {
  outline-color: #f37c2a; }

.bgColor-ui-light {
  background-color: #c8d9e1; }

.fontColor-ui-light {
  color: #c8d9e1; }

.borderColor-ui-light {
  border-color: #c8d9e1; }

.outlineColor-ui-light {
  outline-color: #c8d9e1; }

.bgColor-ui-dark, [type="radio"]:checked + span::before {
  background-color: #303541; }

.fontColor-ui-dark {
  color: #303541; }

.borderColor-ui-dark {
  border-color: #303541; }

.outlineColor-ui-dark {
  outline-color: #303541; }

.bgColor-primary, button {
  background-color: #0074be; }

.fontColor-primary, a, h1, h3, h4, .checkbox [type='checkbox'] + span,
[type='radio'] + span {
  color: #0074be; }

.borderColor-primary, .borderColor-primary--focus:focus, input:focus, textarea:focus {
  border-color: #0074be; }

.outlineColor-primary {
  outline-color: #0074be; }

.bgColor-gold {
  background-color: #b99c64; }

.fontColor-gold {
  color: #b99c64; }

.borderColor-gold {
  border-color: #b99c64; }

.outlineColor-gold {
  outline-color: #b99c64; }

.bgColor-platinum {
  background-color: #5e5f63; }

.fontColor-platinum {
  color: #5e5f63; }

.borderColor-platinum {
  border-color: #5e5f63; }

.outlineColor-platinum {
  outline-color: #5e5f63; }

.bgColor-silver {
  background-color: #9da1a4; }

.fontColor-silver {
  color: #9da1a4; }

.borderColor-silver {
  border-color: #9da1a4; }

.outlineColor-silver {
  outline-color: #9da1a4; }

.bgColor-white, .window, .dropdown .menu, .modal {
  background-color: white; }

.fontColor-white, button, .dropdown .menu .item:hover {
  color: white; }

.borderColor-white, [type="radio"],
[type="radio"] + span::before {
  border-color: white; }

.outlineColor-white {
  outline-color: white; }

.bgColor-white-5, pre {
  background-color: #f3f3f3; }

.fontColor-white-5 {
  color: #f3f3f3; }

.borderColor-white-5 tr:first-of-type td {
  border-color: #f3f3f3; }

.outlineColor-white-5 {
  outline-color: #f3f3f3; }

.bgColor-white-10 {
  background-color: #e5e5e5; }

.fontColor-white-10 {
  color: #e5e5e5; }

.borderColor-white-10, code, aside, pre {
  border-color: #e5e5e5; }

.outlineColor-white-10 {
  outline-color: #e5e5e5; }

.bgColor-white-20 {
  background-color: #cccccc; }

.fontColor-white-20 {
  color: #cccccc; }

.borderColor-white-20, input, textarea, .checkbox [type='checkbox'] + span::before, .dropdown .menu {
  border-color: #cccccc; }

.outlineColor-white-20 {
  outline-color: #cccccc; }

.bgColor-white-30 {
  background-color: #b3b3b3; }

.fontColor-white-30 {
  color: #b3b3b3; }

.borderColor-white-30 {
  border-color: #b3b3b3; }

.outlineColor-white-30 {
  outline-color: #b3b3b3; }

.bgColor-grey, button:disabled {
  background-color: #939393; }

.fontColor-grey, .modal__close-button {
  color: #939393; }

.borderColor-grey {
  border-color: #939393; }

.outlineColor-grey {
  outline-color: #939393; }

.bgColor-black-30 {
  background-color: #737373; }

.fontColor-black-30 {
  color: #737373; }

.borderColor-black-30 {
  border-color: #737373; }

.outlineColor-black-30 {
  outline-color: #737373; }

.bgColor-black-20 {
  background-color: #595959; }

.fontColor-black-20, pre code {
  color: #595959; }

.borderColor-black-20 {
  border-color: #595959; }

.outlineColor-black-20 {
  outline-color: #595959; }

.bgColor-black-10 {
  background-color: #404040; }

.fontColor-black-10 {
  color: #404040; }

.borderColor-black-10 {
  border-color: #404040; }

.outlineColor-black-10 {
  outline-color: #404040; }

.bgColor-black, .dropdown .menu .item:hover {
  background-color: #262626; }

.fontColor-black {
  color: #262626; }

.borderColor-black {
  border-color: #262626; }

.outlineColor-black {
  outline-color: #262626; }

.bgColor-white--transparent {
  background-color: rgba(255, 255, 255, 0.8); }

.fontColor-white--transparent, button:disabled {
  color: rgba(255, 255, 255, 0.8); }

.borderColor-white--transparent {
  border-color: rgba(255, 255, 255, 0.8); }

.outlineColor-white--transparent {
  outline-color: rgba(255, 255, 255, 0.8); }

.bgColor-black--transparent, .modal__container {
  background-color: rgba(0, 0, 0, 0.6); }

.fontColor-black--transparent {
  color: rgba(0, 0, 0, 0.6); }

.borderColor-black--transparent {
  border-color: rgba(0, 0, 0, 0.6); }

.outlineColor-black--transparent {
  outline-color: rgba(0, 0, 0, 0.6); }

.bgColor-code-green {
  background-color: #6ec800; }

.fontColor-code-green, code {
  color: #6ec800; }

.borderColor-code-green {
  border-color: #6ec800; }

.outlineColor-code-green {
  outline-color: #6ec800; }

.bgColor-inherit {
  background-color: inherit; }

.fontColor-inherit, * {
  color: inherit; }

.borderColor-inherit {
  border-color: inherit; }

.outlineColor-inherit {
  outline-color: inherit; }

.bgColor-transparent, .modal__close-button {
  background-color: transparent; }

.fontColor-transparent, .button--isLoading {
  color: transparent; }

.borderColor-transparent {
  border-color: transparent; }

.outlineColor-transparent {
  outline-color: transparent; }

.bgRepeat-noRepeat, .checkbox [type='checkbox']:checked + span:before, .dropdown input, .input--calendar,
.input--location, .input--search, .button--isLoading:after {
  background-repeat: no-repeat; }

.bgSize-cover {
  background-size: cover; }

.bgPosition-centerCenter, .checkbox [type='checkbox']:checked + span:before {
  background-position: center center; }

.bgPositionY-center, .input--calendar,
.input--location, .input--search {
  background-position-y: center; }

.bgPositionX-center {
  background-position-x: center; }

.bgAttachment-fixed {
  background-attachment: fixed; }

.boxSizing-borderBox, *, .checkbox [type='checkbox'] + span:before,
[type='radio'] + span:before {
  box-sizing: border-box; }

.boxShadow, [type="radio"],
[type="radio"] + span::before, [type="radio"]:checked + span::before {
  box-shadow: 0 0 0 .1rem #B7B7B7; }

.content-empty, .checkbox [type='checkbox'] + span:before,
[type='radio'] + span:before, .button--isLoading:after {
  content: ''; }

.cursor-pointer, a, button {
  cursor: pointer; }
.cursor-notAllowed, button:disabled, input:disabled, textarea:disabled, .checkbox [type='checkbox']:disabled + span::before,
[type='radio']:disabled + span::before, [disabled] .VariableTextarea {
  cursor: not-allowed; }
.cursor-progress, .button--isLoading {
  cursor: progress; }
.cursor-text, .VariableTextarea{
    cursor: text; }
.cursor-move{
    cursor: move;
}

.display-block, pre code, input, textarea, .button--isLoading:after {
  display: block; }

.display-block--important {
  display: block !important; }

.display-flex, body, .grid, .input--inline {
  display: flex; }

.display-flex--important {
  display: flex !important; }

.display-inline {
  display: inline; }

.display-inline--important {
  display: inline !important; }

.display-inlineBlock, code, label, .checkbox [type='checkbox'] + span:before,
[type='radio'] + span:before, .checkbox,
.radio {
  display: inline-block; }

.display-inlineBlock--important {
  display: inline-block !important; }

.display-none, .dropdown .menu {
  display: none; }

.display-none--important {
  display: none !important; }

.height-100vh, aside, main {
  height: 100vh; }

.height-75vh {
  height: 75vh; }

.width-100vw {
  width: 100vw; }

.flexWrap-wrap, .grid {
  flex-wrap: wrap; }

.flexDirection-row, .grid {
  flex-direction: row; }

.fontFamily-light {
  font-family: Gotham-Light; }
.fontFamily-book, html, input, textarea, option {
  font-family: Gotham-Book; }
.fontFamily-medium, h3 {
  font-family: Gotham-Medium; }
.fontFamily-bold, a, button, label {
  font-family: Gotham-Bold; }
.fontFamily-thin {
  font-family: Gotham-Thin; }

.fontStyle-italic, h4 {
  font-style: italic; }

.float-right {
  float: right; }

.letterSpacing, button, label {
  letter-spacing: 0.05rem; }

.left-20 {
  left: 20vw; }

.listStyleType-circle, main ul {
  list-style-type: circle; }
.listStyleType-none, ul, nav ul, .dropdown .menu {
  list-style-type: none; }

.margin-auto {
  margin: auto; }

.marginHorizontal-auto {
  margin-left: auto;
  margin-right: auto; }

.outline-none, input:focus, textarea:focus {
  outline: none; }

.overflow-hidden, .window {
  overflow: hidden; }

.overflowX-hidden, .dropdown .menu {
  overflow-x: hidden; }

.overflowY-scroll, .dropdown .menu {
  overflow-y: scroll; }

.overflow-visible{
    overflow: visible;
}

.overflowX-visible{
    overflow-x: visible;
}

.overflowY-visible{
    overflow-y: visible;
}

.overflow-auto{
    overflow: auto;
}

.overflowX-auto{
    overflow-x: auto;
}

.overflowY-auto{
    overflow-y: auto;
}

.position-fixed, .modal__container {
  position: fixed; }
.position-relative, .dropdown, .checkbox,
.radio, .button--isLoading {
  position: relative; }
.position-absolute, main, .checkbox [type='checkbox'],
[type='radio'], .window, .dropdown .menu, .modal__close-button, .button--isLoading:after {
  position: absolute; }

.error-validation {
  margin-top: -1.5rem; }

.textAlign-right {
  text-align: right; }
.textAlign-left {
  text-align: left; }
.textAlign-center, .modal__container {
  text-align: center; }

.textTransform-uppercase, button {
  text-transform: uppercase; }
.textTransform-lowercase {
  text-transform: lowercase; }
.textTransform-capitalize {
  text-transform: capitalize; }

.textDecoration-linethrough {
  text-decoration: line-through; }
.textDecoration-overline {
  text-decoration: overline; }
.textDecoration-underline {
  text-decoration: underline; }
.textDecoration-none, a {
  text-decoration: none; }

.transition-none, .checkbox [type='checkbox'] + span::before {
  transition: none; }

.transition-easeAll--015, [type="radio"],
[type="radio"] + span::before {
  transition: 0.15s ease all; }

.transform-translateY-half{
  transform: translateY(50%); }

.verticalAlign-top{
  vertical-align: top; }

.verticalAlign-middle, .checkbox [type='checkbox'] + span:before,
[type='radio'] + span:before {
  vertical-align: middle; }

.verticalAlign-bottom {
  vertical-align: bottom; }

.visibility-hidden {
  visibility: hidden; }
.visibility-visible {
  visibility: visible; }

.whiteSpace-noWrap {
  white-space: nowrap; }

.textOverflow-ellipsis{
    text-overflow: ellipsis;
}

.verticalCenter{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.justifyContent-between{
    justify-content: space-between;
}

.justifyContent-center{
    justify-content: center;
}

.alignItems-center, .input--inline{
    align-items: center;
}

.input--inline label{
    text-transform: uppercase;
    white-space: normal;
}
    .grid .input--inline label{
        width: 7rem;
        text-align: right;
    }

.input--inline label + div,
.flexGrow-1{
    flex-grow: 1;
}

.window-content {
  height: calc(100% - 2.5rem);
}

.select {
  width: 43.75%;
}

.opacity-9{
    opacity: .9;
}

.animate-spin{
    animation: spin 1s ease infinite;
}


body:after {
    content: 'Alerts Management';
    position: fixed;
    right: 2rem;
    top: 2rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: .06em;
    font-size: 2rem;
    font-family: 'Gotham-Bold';
    z-index: -1;
}

fieldset:disabled input {
  pointer-events: none;
}

/*# sourceMappingURL=guide.css.map */
